*{box-sizing: border-box;}



@keyframes my{
    to{transform: rotate(60deg)}
}

.box{
    width: 500px;
    height: 500px;
    background: aquamarine url(./wheel.png) center/cover;
    animation-name: my;
    animation-iteration-count: 2;
    animation-duration: 2s;
}

.switch{
    /* opacity: 0; */
}