
$col1: #555;
$col2: #aaa;


.pic1{
    width: 50px;
    height: 50px;
}
.pic2{
    width: 70px;
    height: 70px;
}
.pic3{
    width: 90px;
    height: 90px;
}
.mary{
    width: 105px;
    height: 105px;
}


.r75{
    height: 225px;
}
.r90{
    height: 270px;
}
.r85{
    height: 255px;
}